/* *************************** */
/* BELOW 1344px (Smaller Desktops) */
/* *************************** */
@media (max-width: 84em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .guess {
    padding: 2rem;
  }
}

/* *************************** */
/* BELOW 800px (Tablets) */
/* *************************** */
@media (max-width: 50em) {
  html {
    /* 7px / 16px = 43.75% */
    font-size: 43.75%;
  }
}

/* *************************** */
/* BELOW 416px (Mobile) */
/* *************************** */
@media (max-width: 26em) {
  html {
    /* 5px / 16px = 31.25% */
    font-size: 31.25%;
  }
}
